<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>helpTitle</key>
		<string>Main Control Overview</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Main Page</string>
				<key>imageName</key>
				<string>help_01.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>helpTitle</key>
		<string>Add song to music list</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Music List Page</string>
				<key>imageName</key>
				<string>help_02.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>helpTitle</key>
		<string>Select song to play</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Music List Page</string>
				<key>imageName</key>
				<string>help_03.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>helpTitle</key>
		<string>How to bookmark</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Main Page</string>
				<key>imageName</key>
				<string>help_04.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>helpTitle</key>
		<string>How to select section</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Main Page</string>
				<key>imageName</key>
				<string>help_05.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>helpTitle</key>
		<string>Remove music from list</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Music List Page</string>
				<key>imageName</key>
				<string>help_06.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>helpTitle</key>
		<string>Remove bookmark from list</string>
		<key>tutorials</key>
		<array>
			<dict>
				<key>description</key>
				<string>Bookmark List Page</string>
				<key>imageName</key>
				<string>help_07.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
